version: '3'
services:
  schablone-server:
    build: ./
    restart: always
    environment:
      PORT: 8080
    ports:
      - 8080:8080
    env_file:
      - .mariadb.env
    links:
      - mariadb

  mariadb:
    build: ./db
    restart: always
    env_file:
      - .mariadb.env
    ports:
      - 3306:3306
