version: '3'
services:
  schablone-server:
    build: ./
    restart: always

  mariadb:
    build: ./db
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: example
    env_file:
      - .mariadb.env
